{% extends '::back-end.html.twig' %}
{% block title %}Accommodation List{% endblock %}
{% block content %}
    <h1>Accommodation creation</h1>

    {{ form(form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('accommodation') }}">
            Back to the list
        </a>
    </li>
</ul>
{% endblock %}
